@media screen and (max-width: 360px) {
  /* 헤더 */
  .header_wrap {
    width: 100%;
  }

  .header_wrap .header {
    position: relative;
    max-width: 36rem;
    height: 3.5rem;
    padding-top: 3rem;
    text-align: center;
    background: transparent;
    line-height: 3.5rem;
    z-index: 10;
  }

  .header_wrap .header i {
    position: relative;
    font-size: 2rem;
    color: white;
  }

  .header_wrap .header .gnb {
    float: left;
    margin-left: 2rem;
  }

  .header_wrap .header .home {
    left: -1.5rem;
  }

  .header_wrap .header .icon_wrap {
    display: inline-block;
    float: right;
    background: red;
    height: 0;
    margin-right: 2rem;
  }

  .header_wrap .header .icon_wrap i {
    font-size: 1.6rem;
  }

  .header_wrap .header .icon_wrap i {
    width: 1.8rem;
    height: 1.8rem;
  }

  /* 메인 슬라이드 영역 */
  .main {
    max-width: 36rem;
    height: 50rem;
    top: -6.5rem;
  }

  .main .swiper-slide {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: contain;
  }

  .main .swiper-slide img {
    position: relative;
    display: block;
    width: auto;
    height: 100%;
    object-fit: cover;
  }

  .main .swiper-slide h2,
  .main .swiper-slide em  {
    text-shadow: 0.3rem 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    font-style: normal;
  }

  .main_type1 {
    color: #f2df3a;
  }

  /* 슬라이드 type1 */
   .main_type1 h2 {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    font-weight: 500;
    transform: translate(-50%, -60%);
  }

  .main_type1 em {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    margin-top: 6rem;
    font-size: 1.5rem;
    transform: translate(-50%, 0%);
  }

  /* 메인 슬라이드 type2 */
   .main .main_type2 h2 {
    position: absolute;
    display: inline-block;
    top: 60%;
    left: 50%;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    transform: translateX(-50%);
  }

  .main .main_type2 em {
    position: absolute;
    display: inline-block;
    top: 60%;
    left: 50%;
    margin-top: 8rem;
    color: #fff;
    font-style: normal;
    font-size: 1.5rem;
    transform: translateX(-50%);
  }

  /* 메인 슬라이드 type3 */
  .main_type3 h2 {
    position: absolute;
    display: inline-block;
    top: 40%;
    left: 50%;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    transform: translateX(-50%);
  }

  .main_type3 em {
    position: absolute;
    display: inline-block;
    top: 40%;
    left: 50%;
    margin-top: 8rem;
    color: #fff;
    font-style: normal;
    font-size: 1.5rem;
    transform: translateX(-50%);
  }

  /* 메인 슬라이드 type4 */
  .main_type4 h2 {
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 50%;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    transform: translateX(-50%);
  }

  .main_type4 em {
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 50%;
    margin-top: 8rem;
    color: #fff;
    font-size: 1.5rem;
    transform: translateX(-50%);
  }


  /* 메인 슬라이드 type4 */
  .main .main_type5 h2 {
    position: absolute;
    display: inline-block;
    top: 28%;
    left: 50%;
    width: 25rem;
    height: auto;
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.1rem;
    transform: translateX(-50%);
    text-shadow: 0.2rem 0 rgba(0, 0, 0, 0.15);
  }

   .main .main_type5 em {
    position: absolute;
    display: inline-block;
    bottom: 10%;
    left: 50%;
    color: #fff;
    font-size: 1.5rem;
    transform: translateX(-50%);
  }

  /* 버튼, 페이지네이션 스타일 */
  div[class*="swiper-button"] {
    color: #fff;
    opacity: 0.5;
  }

  .swiper-pagination {
    --swiper-theme-color: #fff;
  }
}
