@media screen and (min-width: 320px) {

  .header_wrap {
    /* max-width: 100vw; */
  }

  .header {
    position: absolute;
    width: 100%;
    height: 6rem;
    background: transparent;
    z-index: 10;
  }

  .header i {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    color: #fdfdfd;
    transform: translateY(-50%);
  }

  .home {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .search,
  .shopping {
    font-size: 1.8rem;
  }

  .search {
    right: 5rem;
  }

  .shopping {
    right: 2rem;
  }

  .gnb {
    position: absolute;
    left: 3rem;
  }

  .gnb_menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #fff;
    letter-spacing: -1px;
    z-index: 10;
  }

  .menu_main li {
    font-size: 2rem;
    padding: 2rem 0 2rem 3rem;
  }

  .menu_board li {
    padding: 1.5rem 0 1.5rem 3rem;
    font-size: 1.6rem;
    color: #222;
  }

  .login {
    position: relative;
    bottom: 3rem;
    padding-left: 3rem;
    color: #9e9e9e;
    font-size: 1.4rem;
  }

  .header i.button_gnb {
    position: absolute;
    top: 40px;
    right: 30px;
    font-size: 25px;
    color: black;
  }

  .main {
    background: #fff;
  }

  .section_main .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: contain;
  }

  .slide-img-wrap {
    width: 100%;
    height: 600px;
  }

  .slide-img-wrap img {
    width: 100%;
    height: 100%;
  }

  .section_main h2,
  .section_main em {
    text-shadow: 0.3rem 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    text-transform: uppercase;
    overflow-wrap: break-word;
    color: #fff;
  }

  .section_main h2 {
    position: absolute;
    display: inline-block;
    font-size: 2.2rem;
    font-weight: 500;
    transform: translateX(-50%);
  }

  .section_main em {
    position: absolute;
    display: inline-block;
    font-size: 1.4rem;
    font-style: normal;
    transform: translateX(-50%);
  }

  .section_main .main_type1 h2 {
    top: 40%;
    left: 50%;
    color: #f2fa5a;
  }

  .section_main .main_type1 em {
    top: 40%;
    left: 50%;
    margin-top: 10rem;
    font-weight: normal;
    color: #f2fa5a;
  }

  .section_main .main_type2 h2 {
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
  }

  .section_main .main_type2 em {
    top: 50%;
    left: 50%;
    margin-top: 12rem;
  }

  .main_type3 h2 {
    top: 35%;
    left: 50%;
  }

  .main_type3 em {
    top: 35%;
    left: 50%;
    margin-top: 8rem;
  }

  .main_type4 h2 {
    top: 20%;
    left: 50%;
  }

  .main_type4 em {
    top: 20%;
    left: 50%;
    margin-top: 8rem;
  }

  .section_main .main_type5 h2 {
    top: 40%;
    left: 50%;
    letter-spacing: -0.1rem;
  }

  .section_main .main_type5 em {
    top: 40%;
    left: 50%;
    margin-top: 32rem;
  }

  div[class*="swiper-button"] {
    padding: 0 1rem 0 1rem;
    color: #222;
    opacity: 0.5;
  }

  .swiper-button-prev {
    margin-left: 20%;
  }

  .swiper-button-next {
    margin-right: 20%;
  }

  .section_items {
    width: 95vw;
    margin: 0 auto;
    margin-top: 50px;
  }

  .section_items h2 {
    display: inline-block;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }

  .section_items .fa-star {
    position: absolute;
    z-index: 10;
    top: 1rem;
    left: 1rem;
    font-size: 1.8rem;
    color: #cacaca;
  }

  .section_items .swiper {
    position: relative;
  }

  .item_info {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    margin-top: 1rem;
    margin-left: 0.8rem;
  }

  .section_items .items .image_wrap {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }

  .section_items .items .image_wrap img {
    position: relative;
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .brand {
    font-size: 12px;
    color: #cacaca;
  }

  .text_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    font-size: 14px;
    word-break: break-all;
  }

  .text_wrap span:nth-child(1) {
    font-size: 1.2rem;
    color: #0f3d3e;
  }

  .price {
    position: relative;
    margin: 1rem 0;
    font-size: 14px;
  }

  .best {
    position: relative;
    padding: 0.5rem;
    font-size: 12px;
    color: #0f3d3e;
    background: #efefef;
    margin-left: 0.8rem;
  }

  /* aside 영역 */
  aside.event {
    margin-top: 100px;
  }

  .event .image_wrap {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 90%;
    margin: 0 auto;
  }

  .image_wrap a {
    padding: 0 0 2rem 0;
  }

  .image_wrap img {
    max-width: 100%;
  }

  .image_wrap a:nth-child(3) {
    padding: 0;
  }

  .footer {
    position: relative;
    max-width: 100%;
    margin-top: 10rem;
    border-top: 1px solid #cacaca;
  }

  .footer .wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    width: 90%;
    margin: 0 auto;
    letter-spacing: -1px;
  }

  .footer .list_customer {
    display: flex;
    margin-top: 70px;
    font-size: 12px;
  }

  .footer .list_customer li {
    margin-right: 1.8rem;
  }

  .footer .list_customer li:nth-of-type(3) {
    margin-right: 0;
  }

  .footer .company_info {
    margin-top: 20px;
    font-size: 12px;
  }

  .footer .company_info button {
    border: none;
    background: transparent;
  }

  .footer .company_info button img {
    width: 0.6rem;
    transform: rotate(90deg);
  }

  .wrap .company_info_wrap {
    display: none;
  }

  .wrap dl {
    color: #999;
    font-size: 10px;
    text-align: center;
    line-height: 1.7rem;
  }

  .wrap dl dt,
  .wrap dl dd {
    display: inline;
  }

  .wrap dl dt:after {
    content: " : ";
  }

  .wrap dl dd:nth-of-type(1)::after {
    content: " / ";
  }

  .footer .list_policy {
    display: flex;
    margin-top: 20px;
    font-size: 10px;
  }

  .footer .list_policy li {
    position: relative;
    color: #888;
    margin-right: 1.8rem;
  }

  .footer .list_policy li:nth-of-type(1)::after {
    position: absolute;
    top: 0;
    right: -1rem;
    width: 1px;
    height: 1.2rem;
    background: #777;
    content: "";
  }

  .footer .list_policy li:nth-of-type(3)::before {
    position: absolute;
    top: 0;
    left: -0.9rem;
    width: 1px;
    height: 1.2rem;
    background: #777;
    content: "";
  }

  .footer .list_policy li:nth-of-type(3) {
    color: black;
  }

  .wrap .sub_wrap {
    text-align: center;
    color: #777;
    font-size: 10px;
  }

  .wrap p {
    margin-top: 20px;
    font-size: 10px;
    color: #777;
    letter-spacing: 0;
  }

  .wrap .list_subCheck {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }

  .wrap .list_subCheck li:nth-of-type(1)::after {
    position: absolute;
    top: 0.22rem;
    left: 125px;
    width: 1px;
    height: 1.2rem;
    background: #777;
    content: "";
  }

  .wrap .copyright {
    position: relative;
    margin-top: 20px;
    color: #777;
    font-size: 10px;
    letter-spacing: 0.5px;
  }

  .wrap .list_social {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 10px;
    color: #cacaca;
    letter-spacing: 0.5px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    position: relative;
    top: 0;
    height: 4rem;
    padding: 3rem 0 2rem 0;
    background: transparent;
    z-index: 10;
  }

  .header i {
    position: absolute;
    top: 50%;
    font-size: 2.5rem;
    color: #222;
    transform: translateY(-50%);
  }

  .gnb {
    left: 4rem;
  }

  .header i.button_gnb {
    top: 10px;
    right: 50px;
    font-size: 30px;
  }

  .home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .search,
  .shopping {
    font-size: 1.8rem;
  }

  .search {
    right: 8rem;
  }

  .shopping {
    right: 4rem;
  }

  .main .swiper {
    overflow: hidden;
    margin-top: 10px;
  }

  .swiper-wrapper {
    display: flex;
  }

  .slide-img-wrap {
    position: relative;
    width: 600px;
    height: 800px;
  }

  .slide-img-wrap img {
    display: block;
    width: 100%;
  }

  .section_main .swiper-slide h2 {
    font-size: 3rem;
  }

  .section_main .swiper-slide em {
    font-size: 2rem;
  }

  .section_main .main_type1 em {
    margin-top: 18rem;
  }

  .section_main .main_type2 h2 {
    top: 55%;
  }

  .section_main .main_type2 em {
    top: 55%;
    margin-top: 15rem;
  }

  .main_type3 em {
    margin-top: 14rem;
  }

  .main_type4 h2 {
    top: 20%;
  }

  .main_type4 em {
    top: 20%;
    margin-top: 15rem;
  }

  .section_main .main_type5 h2 {
    top: 20%;
  }

  .section_main .main_type5 em {
    top: 20%;
    margin-top: 18rem;
  }

  .section_items h2 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }

  .section_items .fa-star {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
  }

  .item_info {
    margin-top: 3rem;
    margin-left: 1.5rem;
  }

  .brand {
    font-size: 14px;
  }

  .text_wrap {
    margin: 3rem 0;
    font-size: 16px;
  }

  .text_wrap span:nth-child(1) {
    font-size: 2rem;
    color: #0f3d3e;
  }

  .price {
    margin: 2rem 0;
    font-size: 16px;
  }

  .best {
    padding: 0.5rem;
    margin-left: 1.5rem;
    font-size: 16px;
  }

  aside.event {
    margin-top: 200px;
  }

  .event .image_wrap {
    max-width: 50%;
  }

  .image_wrap a {
    padding: 0 0 5rem 0;
  }

  .footer .wrap {
    gap: 20px;
    letter-spacing: 0.5px;
  }

  .footer .list_customer {
    display: flex;
    margin-bottom: 15px;
    font-size: 16px;
  }

  .footer .list_customer li {
    margin-right: 3rem;
  }

  .footer .company_info {
    font-size: 14px;
  }

  .company_info .company_info button img {
    width: 1rem;
  }

  .wrap dl {
    color: #999;
    font-size: 14px;
    line-height: 2.5rem;
  }

  .footer .list_policy {
    font-size: 14px;
  }

  .footer .list_policy li {
    position: relative;
    color: #888;
    margin-right: 3rem;
  }

  .footer .list_policy li:nth-of-type(1)::after {
    top: 0;
    right: -1.5rem;
    height: 1.8rem;
  }

  .footer .list_policy li:nth-of-type(3)::before {
    top: 0;
    left: -1.5rem;
    height: 1.8rem;
  }

  .wrap .sub_wrap {
    font-size: 14px;
  }

  .wrap p {
    margin-bottom: 3rem;
    font-size: 14px;
  }

  .wrap .list_subCheck li {
    position: relative;
  }

  .wrap .list_subCheck li:nth-of-type(1)::after {
    position: absolute;
    left: 155px;
    height: 1.8rem;
  }

  .wrap .copyright {
    top: -2rem;
    font-size: 12px;
    letter-spacing: 0.5px;
  }

  .wrap .list_social {
    font-size: 14px;
  }
}