/* 모바일 360 px */

@media screen and (min-width: 320px) {
  /* 헤더 */
  .header_wrap {
    max-width: 100vw;
  }

  .header_wrap .header {
    position: absolute;
    width: 100%;
    height: 3.5rem;
    padding-top: 3rem;
    text-align: center;
    background: transparent;
    line-height: 3.5rem;
    z-index: 10;
  }

  .header_wrap .header i {
    position: relative;
    font-size: 2rem;
    color: white;
  }

  .header_wrap .header .gnb {
    float: left;
    margin-left: 2rem;
  }

  .header_wrap .header .home {
    left: -1.5rem;
  }

  .header_wrap .header .icon_wrap {
    display: inline-block;
    float: right;
    height: 0;
    margin-right: 2rem;
  }

  .header_wrap .header .icon_wrap i {
    font-size: 1.6rem;
  }

  .header_wrap .header .icon_wrap i {
    width: 1.8rem;
    height: 1.8rem;
  }

  /* 메인 슬라이드 영역 */
  .main {
    max-width: 100%;
    background: #fff;
  }

  .main .swiper {
    max-width: 100%;
    max-height: 100vh;
    margin-bottom: 7rem;
  }

  .section_main .swiper-slide {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: contain;
  }

  .section_main .swiper-slide img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section_main .swiper-slide h2,
  .section_main .swiper-slide em {
    text-shadow: 0.3rem 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    overflow-wrap: break-word;
  }

  .main_type1 {
    color: #fffa4d;
    font-weight: bold;
  }

  /* 슬라이드 type1 */
  .main_type1 h2 {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    font-size: 2.7rem;
    font-weight: 500;
    transform: translate(-50%, -60%);
  }

  .main_type1 em {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    margin-top: 13rem;
    font-size: 1.8rem;
    font-weight: normal;
    transform: translate(-50%, 0%);
  }

  /* 메인 슬라이드 type2 */

  .section_main .main_type2 h2 {
    position: absolute;
    display: inline-block;
    top: 55%;
    left: 50%;
    color: #fff;
    font-size: 2.7rem;
    font-weight: 500;
    transform: translateX(-50%);
  }

  .section_main .main_type2 em {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-top: 15rem;
    color: #fff;
    font-style: normal;
    font-size: 1.8rem;
    transform: translateX(-50%);
  }

  /* 메인 슬라이드 type3 */
  .main_type3 h2 {
    position: absolute;
    display: inline-block;
    top: 35%;
    left: 50%;
    color: #fff;
    font-size: 2.7rem;
    font-weight: 500;
    transform: translateX(-50%);
  }

  .main_type3 em {
    position: absolute;
    display: inline-block;
    top: 35%;
    left: 50%;
    margin-top: 15rem;
    color: #fff;
    font-style: normal;
    font-size: 1.8rem;
    transform: translateX(-50%);
  }

  /* 메인 슬라이드 type4 */
  .main_type4 h2 {
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 50%;
    color: #fff;
    font-size: 2.7rem;
    font-weight: 500;
    transform: translateX(-50%);
  }

  .main_type4 em {
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 50%;
    margin-top: 10rem;
    color: #fff;
    font-size: 1.8rem;
    transform: translateX(-50%);
  }

  /* 메인 슬라이드 type4 */
  .section_main .main_type5 h2 {
    position: absolute;
    display: inline-block;
    top: 35%;
    left: 50%;
    width: 25rem;
    height: auto;
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.1rem;
    transform: translateX(-50%);
    text-shadow: 0.2rem 0 rgba(0, 0, 0, 0.15);
  }

  .section_main .main_type5 em {
    position: absolute;
    display: inline-block;
    bottom: 10%;
    left: 50%;
    color: #fff;
    font-size: 1.8rem;
    transform: translateX(-50%);
  }

  /* 버튼, 페이지네이션 스타일 */
  div[class*="swiper-button"] {
    color: #fff;
    opacity: 0.5;
  }

  .swiper-wrapper .swiper-pagination {
    --swiper-theme-color: #fff;
  }

  /* 베스트 아이템 영역 */
  .section_items {
    width: 100vw;
    height: 100vh;
    border: 2px solid blue;
  }

  .section_items h2 {
    display: inline-block;
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }

  .section_items .fa-star {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #cacaca;
    font-size: 1.8rem;
    z-index: 10;
  }

  .section_items .swiper {
    position: relative;
    height: 100%;
  }

  .section_items .swiper-wrapper .swiper-slide {
    height: 100%;
    list-style: none;
    background: yellow;
  }

  .swiper-wrapper .item_info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: 100%;
    margin-top: 1rem;
  }

  .section_items .items img {
    position: relative;
    max-width: 100%;
  }

  .items .item_info .brand {
    font-size: 1rem;
    color: #cacaca;
  }

  .items .item_info .text_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 80%;
    font-size: 1.4rem;
    word-break: break-all;
  }

  .items .item_info .text_wrap span:nth-child(1) {
    font-size: 1.1rem;
    color: #0f3d3e;
  }

  .items .item_info .price {
    position: relative;
    top: 0.5rem;
    font-size: 1.5rem;
  }

  .items .swiper-slide .best {
    position: relative;
    top: 1.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: #0f3d3e;
    background: #efefef;
  }

  /* aside 영역 */
  aside.event {
    position: relative;
    max-width: 100%;
    top: 7rem;
  }

  .event .image_wrap {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    max-width: 90%;
  }

  .image_wrap a {
    padding: 0 0 2rem 0;
  }

  .image_wrap img {
    max-width: 100%;
  }

  .image_wrap a:nth-child(3) {
    padding: 0;
  }

  .footer {
    position: relative;
    max-width: 100%;
    border-top: 1px solid #cacaca;
  }

  .footer .wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 45rem;
    padding: 4rem 0 5rem 0;
    margin: 0 auto;
    letter-spacing: -1px;
  }

  .footer .list_customer {
    display: flex;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  .footer .list_customer li {
    margin-right: 2rem;
  }

  .footer .list_customer li:nth-of-type(3) {
    margin-right: 0;
  }

  .footer .company_info {
    font-size: 1.2rem;
  }

  .footer .company_info button {
    border: none;
    background: transparent;
  }

  .footer .company_info button img {
    width: 0.6rem;
    transform: rotate(90deg);
  }

  .wrap .dl_wrap {
    display: none;
  }

  .wrap dl {
    color: #999;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.7rem;
  }

  .wrap dl dt,
  .wrap dl dd {
    display: inline;
  }

  .wrap dl dt:after {
    content: " : ";
  }

  .wrap dl dd:nth-of-type(1)::after {
    content: " / ";
  }

  .footer .list_policy {
    display: flex;
    font-size: 1.1rem;
  }

  .footer .list_policy li {
    color: #888;
    margin-right: 1.8rem;
  }

  .footer .list_policy li:nth-of-type(1)::after {
    content: "";
    position: absolute;
    top: 21.5rem;
    left: 13.6rem;
    width: 1px;
    height: 1.2rem;
    background: #777;
  }

  .footer .list_policy li:nth-of-type(3)::before {
    content: "";
    position: absolute;
    top: 21.5rem;
    right: 16.3rem;
    width: 1px;
    height: 1.1rem;
    background: #777;
  }

  .footer .list_policy li:nth-of-type(3) {
    color: black;
  }

  .wrap .sub_wrap {
    text-align: center;
    color: #777;
    font-size: 1.1rem;
  }

  .wrap p {
    color: #777;
    font-size: 1.1rem;
    letter-spacing: 0;
    margin-bottom: 3rem;
  }

  .wrap .list_subCheck {
    display: flex;
    justify-content: space-evenly;
  }

  .wrap .list_subCheck li:nth-of-type(1)::after {
    content: "";
    position: absolute;
    top: 33.5rem;
    left: 175px;
    width: 1px;
    height: 1.2rem;
    background: #777;
  }

  .wrap .copyright {
    position: relative;
    top: -2.5rem;
    color: #777;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }

  .wrap .list_social {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    color: #cacaca;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }
}
